aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asgiref==3.11.0
async-timeout==5.0.1
attrs==25.4.0
Django==5.2.9
feedparser==6.0.12
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
mysqlclient==2.2.7
pillow==12.0.0
propcache==0.4.1
python-decouple==3.8
python-dotenv==1.2.1
sgmllib3k==1.0.0
sqlparse==0.5.5
typing_extensions==4.15.0
yarl==1.22.0
